[submodule "cmake"]
	branch = master
	path = cmake
	url = https://github.com/jrl-umi3218/jrl-cmakemodules.git
[submodule "third-parties/qhull"]
	branch = master
	path = third-parties/qhull
	url = https://github.com/qhull/qhull.git
